{{#each surveys as |survey|}}

  <div class="container-fluid bg-3">
    <div id="lndingpg_take_survey" class="row">
      <form id='take-survey-form'>
        <fieldset>
          <legend>Take Survey - {{survey.title}}</legend>
          <br><br>
          {{#each survey.questions as |question|}}
          <div data-id="{{question.id}}" class="{{survey.id}}">
            <input type="text" id="question" name="question.question.questionDescription" size="50" placeholder="{{question.question.questionDescription}}"><br>
              <input type="radio" value="Strongly&nbsp;Disagree" name="surveyresponse[question.answer[][{{@index}}]]"> Strongly Disagree<br>
              <input type="radio" value="Disagree" name="surveyresponse[question.answer[][{{@index}}]]"> Disagree<br>
              <input type="radio" value="Neutral" name="surveyresponse[question.answer[][{{@index}}]]"> Neutral<br>
              <input type="radio" value="Agree" name="surveyresponse[question.answer[][{{@index}}]]"> Agree<br>
              <input type="radio" value="Strongly&nbsp;Agree" name="surveyresponse[question.answer[][{{@index}}]]"> Strongly Agree<br>
            <br>
         </div>
         {{/each}}
         <input id="take-survey" data-index="{{@index}}" data-id="{{survey.id}}" type="submit" class="btn btn-primary btn-sm take-survey" name="submit" value="Submit Survey">
       </fieldset>
     </form>
   </div>
</div>

{{/each}}
